 .u-section-1 {
  background-image: url("images/MaskGroup30-32.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 148px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #d9d9d9);
  min-height: 1009px;
}

.u-section-2 .u-text-1 {
  font-size: 3.77778rem;
  font-weight: 700;
  margin: 66px calc(((100% - 1140px) / 2) + 178px) 0 calc(((100% - 1140px) / 2) + 222px);
}

.u-section-2 .u-shape-1 {
  height: 290px;
  margin-top: 540px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -777px calc(((100% - 1140px) / 2) + -11px) 30px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 794px;
  grid-gap: 18px 18px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-2 .u-image-1 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 7px;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 7px;
}

.u-section-2 .u-image-3 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 7px;
}

.u-section-2 .u-image-4 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 7px;
}

.u-section-2 .u-image-5 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 7px;
}

.u-section-2 .u-image-6 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 7px;
}

.u-section-2 .u-image-7 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 7px;
}

.u-section-2 .u-image-8 {
  width: 199px;
  height: 186px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  font-weight: 700;
  margin: 32px 25px 0;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 655px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-7 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-8 {
    width: 175px;
    height: 175px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 2007px;
  }

  .u-section-2 .u-image-1 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-3 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-4 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-5 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-6 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-7 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-8 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-shape-1 {
    height: 865px;
    margin-top: 441px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -1195px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1883px;
  }

  .u-section-2 .u-image-1 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-6 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-7 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-image-8 {
    width: 210px;
    height: 198px;
    margin-left: 13px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3653px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 110px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-1 {
    height: 1870px;
    margin-top: 391px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -2199px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-2 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-3 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-4 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-5 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-6 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-7 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-8 {
    width: 263px;
    height: 317px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }
}