 .u-section-1 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 9px 94px 0 26px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 38px 60px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 415px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/MaskGroup54.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 4px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 31px;
  }

  .u-section-1 .u-image-1 {
    min-height: 309px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 736px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 133px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 484px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/MaskGroup52.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 484px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 86px 0 34px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 42px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 919px;
    margin-top: 70px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 563px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 129px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 38px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 498px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 747px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 87px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 451px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 695px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 102px;
    margin-right: 4px;
    margin-left: -4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 484px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0 9px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 43px 84px 0 36px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 36px 43px 0 17px;
}

.u-section-3 .u-image-1 {
  min-height: 484px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/MaskGroup53.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 965px;
    margin: 77px -25px 39px auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 75px;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-3 .u-image-1 {
    min-height: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 546px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -39px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-3 .u-image-1 {
    min-height: 344px;
  }
} .u-section-4 {
  background-image: linear-gradient(#e5e5e5, white);
}

.u-section-4 .u-sheet-1 {
  min-height: 672px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1190px;
  margin: 0 -25px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 672px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  height: 244px;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 60px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 27px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-2 {
  height: 244px;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 60px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 27px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-image-3 {
  height: 244px;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 60px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 687px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-image-1 {
    height: 184px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
    margin-left: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-image-2 {
    height: 184px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
    margin-left: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-image-3 {
    height: 184px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 509px;
  }

  .u-section-4 .u-image-1 {
    height: 216px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: -215px;
  }

  .u-section-4 .u-image-2 {
    height: 216px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-bottom: -160px;
  }

  .u-section-4 .u-image-3 {
    height: 216px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-bottom: -265px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 353px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-bottom: -165px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 353px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-bottom: -190px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 353px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-bottom: -240px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1686px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1686px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-1 {
    height: 217px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 15px;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-2 {
    height: 217px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 15px;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-3 {
    height: 217px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 15px;
    margin-right: 3px;
    margin-bottom: 0;
  }
}